@utility heading-color-primary {
  @apply text-dark-100 dark:text-light-900;
}

@utility heading-color-secondary {
  @apply text-dark-200 dark:text-light-900;
}

@utility body-color {
  @apply text-dark-500 dark:text-light-700;
}

@utility bg-navbar {
  @apply bg-light-900 dark:bg-[#0f111780];
}

@utility bg-body {
  @apply bg-light-850 dark:bg-dark-100;
}

@utility border-light {
  @apply border-light-border;
}
