@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./_theme.css";
@import "./_typography.css";
@import "./_utils.css";
@import "./_colors.css";

/* dark theme */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  img, svg, video, canvas, audio, iframe, embed, object {
    display: inline-block;
    vertical-align: middle;
  }
}
